@font-face {
    font-family: myFont;
    src: url(Comforter.otf);
  }

  @font-face {
    font-family: Zay;
    src: url(Zaychik.ttf);
  }


h1 {

    padding: 30px;
    font-size: 15mm;
    font-weight:normal; 
    font-family: myFont;
    width:fit-content;
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    background-image: url("../img//back1.jpg");
    color: rgb(83, 39, 8);
}

#pics {
    position:fixed;
    right: 15%;
    top: 15px;
    
}

aside form {
    width: 20%;
}

aside form input {
    padding: 3px;
    margin-bottom: 5px;
    border: 0;
}

aside form button {
    margin-top: 5px;
}

#CheckUser {
    background-image: url('../img//frame.png');
    font-family: Zay;

    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

#CheckUser p{
    font-size: x-large;
    font-family: Zay;

}

#CheckUser input{
    font-size: x-large;
    font-family: Zay;
    padding-bottom: 0;
    background-color: transparent;
}

#CheckUser button{
    font-size: larger;
    font-family: Zay;
}

#timePicture img {
    width: 70px;
}